body{background: #7A5326}


h1{color:#AEC23D; font-family: Papyrus; font-size:55px; 
	background-color: #384007; 
	text-align: center; 
	padding-top: 5px; 
	margin-left: 130px;
	margin-right: 125px;
	}

	p{color:#C87C09;
	font-family:Times New Roman;
	text-align: left;
	 }

	 img{display: block;
	 	margin: auto;
	border-style: dotted;
	border-color:#C87C09;
	border-width:30px;
	padding:9px;
	margin-top:45px;
	width: 250px;
	 }
	
	ul{list-style-type: none;
	 margin: 25px;
	 padding: 0;
	overflow: hidden;
	background-color: #384007;}
	 
	 ul li{float: down;}


	ul li a{display: block;
	 	color: #C87C09;
	padding: 10px 24px;
	text-decoration:none;
	text-align:left;
	font-family:Papyrus;
	font-size: 24px;
	border-style: dotted;
	border-width: 7px
	 }

	ul li a:hover {background-color:#FC9803;}